<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
<style>
.controles {
	width:40%;
	display: inline-block;
}
</style>
<title>BiblioBooking</title>
</head>
<body>
	<main>
		<header>
			<h2>Bienvenido a BibilioBooking</h2>
		</header>
		<nav>
			<ul>
			  <li><a href="/">Inicio</a></li>
			  <li><a href="/informacion">Informacion</a></li>
			  <li><a href="/contacto">Contacto</a></li>
			  <li>{{#alumno}}<a href="/reservas">Mis reservas</a>{{/alumno}}</li>
			  <li>{{#noVisitante}}<a href="/perfil">Mi perfil</a>{{/noVisitante}}</li>
			  <li>{{#login}}<a href="/login">Login</a>{{/login}}</li>
			  <li><a href="/register">Registrarse</a></li>
			  <li>{{#admin}}<a href="/admin">Panel Administrador</a>{{/admin}}</li>
			  <li>{{#empleado}}<a href="/gestion">Gestion</a>{{/empleado}}</li>
			</ul>
		</nav>
		<section>
		<div class="controles">
			<a><button>Gestion de reservas</button></a>
			<a><button>Gestion de usuarios</button></a>
			<a><button>Gestion de salas</button></a>
		</div>
		</section>
	</main>
</body>
</html>