<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<title>BiblioBooking</title>
</head>
<body>
	<main>
		<header>
			<h2>Bienvenido a BibilioBooking</h2>
		</header>
		<nav>
			<ul>
			  <li><a href="/">Inicio</a></li>
			  <li><a href="/informacion">Informacion</a></li>
			  <li><a href="/contacto">Contacto</a></li>
			  <li>{{#alumno}}<a href="/reservas">Mis reservas</a>{{/alumno}}</li>
			  <li>{{#noVisitante}}<a href="/perfil">Mi perfil</a>{{/noVisitante}}</li>
			  <li>{{#login}}<a href="/login">Login</a>{{/login}}</li>
			  <li><a href="/register">Registrarse</a></li>
			  <li>{{#admin}}<a href="/admin">Panel Administrador</a>{{/admin}}</li>
			  <li>{{#empleado}}<a href="/gestion">Gestion</a>{{/empleado}}</li>
			</ul>
		</nav>
		<section>
			<table>
				<thead>
					<tr>
						<td></td>
						<td>Numero sala</td>
						<td>Sala reservada</td>
						<td>Alumno</td>
					</tr>
				</thead>
				<tbody>
					{{#reservas}}
					<tr>
						<td><input type="checkbox" id="" name="" value=""></input></td>
						<td>{{idReserva}}</td>
						<td>{{salaReservada.numeroSala}}</td>
						<td>{{alumno.nombre}}</td>
					</tr>
					{{/reservas}}
				</tbody>
			</table>
		</section>
	</main>
</body>
</html>