<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>BiblioBooking</title>
</head>
<body>
	<main>
		<header>
			<h2>Bienvenido a BibilioBooking</h2>
		</header>
		<nav>
			<ul>
			  <li><a href="/">Inicio</a></li>
			  <li><a href="/informacion">Informacion</a></li>
			  <li><a href="/contacto">Contacto</a></li>
			  <li><a href="/reservas">Mis reservas</a></li>
			  <li><a href="/perfil">Mi perfil</a></li>
			  <li><a href="/login">Login</a></li>
			  <li><a href="/register">Registrarse</a></li>
			  <li><a href="/admin">Panel Administrador</a>
			</ul>
		</nav>
		<section>
			<p>{{sesion}}</p>
			<p>Bienvenido a la aplicacion BiblioBooking, esta aplicacion ha sido desarrollada para facilitar el proceso
			de reserva de salas en una biblioteca</p>
			<p>Esta aplicacion ha sido desarrollada utilizando tecnologia Spring</p>
		</section>
	</main>
</body>
</html>