<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../../css/style.css">
<link rel="stylesheet" type="text/css" href="../../../css/register.css">
<title>BiblioBooking</title>
</head>
<body>
	<main>
		<header>
			<h2>Bienvenido a BibilioBooking</h2>
		</header>
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
			  	<li><a href="/informacion">Informacion</a></li>
			  	<li><a href="/reservas">Mis reservas</a></li>
			  	<li><a href="/perfil">Mi perfil</a></li>
			  	<li><a href="/login">Login</a></li>
			  	<li><a href="/register">Registrarse</a></li>
			  	<li><a href="/admin">Panel Administrador</a></li>
			  	<li><a href="/gestion">Gestion</a></li>
			</ul>
		</nav>
		<section>
			<h3>Nueva reserva</h3>
			<form action="/admin/reservas/nueva_reserva/reservar" method="POST" class="registerForm">
			<div class="cont">
				<label for="fecha"><b>Fecha</b></label>
				<input type="date" name="fecha" required></input><br>
				
				<label for="hora"><b>Hora</b></label>
				<input type="time" min="09:00" max="19:00" name="hora" required></input><br>
				
				<label for="nombre"><b>Nombre</b></label>
				<input type="text" name="nombre" required></input><br>
				
				<label for="apellido"><b>Apellido</b></label>
				<input type="text" name="apellido" required></input> 
				
				<label for="numSala"><b>Numero de sala</b></label><br>
				<select name="numSala">
					{{#sala}}
						<option value="{{numeroSala}}">{{numeroSala}}</option>
					{{/sala}}
				</select>
				<br>
				<button type="submit">Confirmar</button>
			</div>
			</form>
			<div class="registerForm">
				<a href="/admin/reservas"><button>Volver</button></a>
			</div>
		</section>
	</main>
</body>
</html>