<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="stylesheet" type="text/css" href="../css/tabla.css">
<title>BiblioBooking</title>
</head>
<body>
	<main>
		<header>
			<h2>Bienvenido a BibilioBooking</h2>
		</header>
		<nav>
			<ul>
			  <li><a href="/">Inicio</a></li>
			  <li><a href="/informacion">Informacion</a></li>
			  <li><a href="/reservas">Mis reservas</a></li>
			  <li><a href="/perfil">Mi perfil</a></li>
			  <li><a href="/login">Login</a></li>
			  <li><a href="/register">Registrarse</a></li>
			  <li><a href="/admin">Panel Administrador</a></li>
			  <li><a href="/gestion">Gestion</a></li>
			</ul>
		</nav>
		<section>
		<a href="/{{ruta}}/salas/nueva_sala"><button>Nueva sala</button></a>
		<a href="/{{ruta}}"><button>Atras</button></a>
		<p>Total salas: {{totalSalas}}</p>
			{{#tablaSalas}}
			<table>
				<thead>
					<tr>
						<td>Numero sala</td>
						<td>Capacidad</td>
						<td>Mesas</td>
						<td>Sillas</td>
					</tr>
				</thead>
				<tbody>
					{{#sala}}
						<tr>
							<td>{{numeroSala}}</td>
							<td>{{capacidadMaxima}}</td>
							<td>{{numeroMesas}}</td>
							<td>{{numeroSillas}}</td>
							<td><a href="/{{ruta}}/salas/editar{{&numeroSala}}"><button>Editar</button></a></td>
							<td><a href="/{{ruta}}/salas/eliminar{{&numeroSala}}"><button>Eliminar</button></a></td>
						</tr>
					{{/sala}}
				</tbody>
			</table>
			{{/tablaSalas}}
		</section>
	</main>
</body>
</html>