<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="stylesheet" type="text/css" href="../css/tabla.css">
<title>BiblioBooking</title>
</head>
<body>
	<main>
		<header>
			<h2>Bienvenido a BibilioBooking</h2>
		</header>
		<nav>
			<ul>
			  <li><a href="/">Inicio</a></li>
			  <li><a href="/informacion">Informacion</a></li>
			  <li><a href="/reservas">Mis reservas</a></li>
			  <li><a href="/perfil">Mi perfil</a></li>
			  <li><a href="/login">Login</a></li>
			  <li><a href="/register">Registrarse</a></li>
			  <li><a href="/admin">Panel Administrador</a></li>
			  <li><a href="/gestion">Gestion</a></li>
			</ul>
		</nav>
		<section>
		<a href="/{{ruta}}/usuarios/nuevo_usuario"><button>Nuevo usuario</button></a>
		<a href="/{{ruta}}"><button>Atras</button></a>
			{{#isAdmin}}<p>Total Administradores: {{totalAdministradores}}</p>
			{{#tablaAdministradores}}
			<table>
				<thead>
					<tr>
						<td>Nombre</td>
						<td>Apellido</td>
						<td>Nombre de usuario</td>
						<td>Email</td>
					</tr>
				</thead>
				<tbody>
					{{#administrador}}
						<tr>
							<td>{{name}}</td>
							<td>{{apellido}}</td>
							<td>{{userName}}</td>
							<td>{{email}}</td>
							<td><a href="/{{ruta}}/usuarios/editar_admin{{&idAdmin}}"><button>Editar</button></a></td>
							<td><a href="/{{ruta}}/usuarios/eliminar_admin{{&idAdmin}}"><button>Eliminar</button></a></td>
						</tr>
					{{/administrador}}
				</tbody>
			</table>
			{{/tablaAdministradores}}
			<hr>
			<p>Total Empleados: {{totalEmpleados}}</p>
			{{#tablaEmpleados}}
			<table>
				<thead>
					<tr>
						<td>idEmpleado</td>
						<td>Nombre</td>
						<td>Apellido</td>
						<td>Nombre de usuario</td>
						<td>Email</td>
					</tr>
				</thead>
				<tbody>
					{{#empleado}}
						<tr>
							<td>{{idEmpleado}}</td>
							<td>{{name}}</td>
							<td>{{apellido}}</td>
							<td>{{userName}}</td>
							<td>{{email}}</td>
							<td><a href="/{{ruta}}/usuarios/editar_empleado{{&idEmpleado}}"><button>Editar</button></a></td>
							<td><a href="/{{ruta}}/usuarios/eliminar_empleado{{&idEmpleado}}"><button>Eliminar</button></a></td>
						</tr>
					{{/empleado}}
				</tbody>
			</table>
			<hr>
			{{/tablaEmpleados}}
			{{/isAdmin}}
			
		<p>Total Alumnos: {{totalAlumnos}}</p>
			{{#tablaAlumnos}}
			<table>
				<thead>
					<tr>
						<td>Expediente</td>
						<td>Nombre</td>
						<td>Apellido</td>
						<td>Nombre de usuario</td>
						<td>Email</td>
						<td>Bloqeado</td>
					</tr>
				</thead>
				<tbody>
					{{#alumno}}
						<tr>
							<td>{{expediente}}</td>
							<td>{{name}}</td>
							<td>{{apellido}}</td>
							<td>{{userName}}</td>
							<td>{{email}}</td>
							<td>{{bloqueado}}</td>
							<td><a href="/{{ruta}}/usuarios/editar_alumno{{&expediente}}"><button>Editar</button></a></td>
							<td><a href="/{{ruta}}/usuarios/eliminar_alumno{{&expediente}}"><button>Eliminar</button></a></td>
							<td><a href="/{{ruta}}/usuarios/bloquear_alumno{{&expediente}}"><button>Bloquear</button></a></td>
							<td><a href="/{{ruta}}/usuarios/desbloquear_alumno{{&expediente}}"><button>Desbloquear</button></a></td>
						</tr>
					{{/alumno}}
				</tbody>
			</table>
			{{/tablaAlumnos}}
		</section>
	</main>
</body>
</html>