<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>BiblioBooking</title>
</head>
<body>
	<main>
		<header>
			<h2>Bienvenido a BibilioBooking</h2>
		</header>
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
			  	<li><a href="/informacion">Informacion</a></li>
				{{#alumno}}
			  	<li><a href="/reservas">Mis reservas</a></li>
			  	{{/alumno}}
				{{#usuario}}
				<li><a href="/perfil">Mi perfil</a></li>
			  	{{/usuario}}
				{{#invitado}}
				<li><a href="/login">Login</a></li>
				{{/invitado}}
				<li><a href="/register">Registrarse</a></li>
				{{#admin}}
				<li><a href="/admin">Panel Administrador</a></li>
			  	{{/admin}}
				{{#gestion}}
				<li><a href="/gestion">Gestion</a></li>
				{{/gestion}}
				{{#noInvitado}}
				<li><a href="/logout">LogOut</a></li>
				{{/noInvitado}}
			</ul>
		</nav>
		<section>
			<p>La Biblioteca de la Universidad es una unidad administrativa y de gestión que tiene como finalidad poner a disposición de los usuarios todos los recursos bibliográficos y documentales de la Universidad.
			La Biblioteca está organizada de la siguiente manera:<br>
			<br>Servicios Centrales de Biblioteca.</br>
			<br>Bibliotecas de Campus:  Alcorcón, Aranjuez, Fuenlabrada, Móstoles y Madrid.</br></p>
		</section>
	</main>
</body>
</html>