<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>BiblioBooking</title>
</head>
<body>
	<main>
		<header>
			<h2>Bienvenido a BibilioBooking</h2>
		</header>
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/informacion">Informacion</a></li>
				{{#alumno}}
				<li><a href="/reservas">Mis reservas</a></li>
				{{/alumno}}
				{{#usuario}}
				<li><a href="/perfil">Mi perfil</a></li>
				{{/usuario}}
				{{#invitado}}
				<li><a href="/login">Login</a></li>
				{{/invitado}}
				<li><a href="/register">Registrarse</a></li>
				{{#admin}}
				<li><a href="/admin">Panel Administrador</a></li>
				{{/admin}}
				{{#gestion}}
				<li><a href="/gestion">Gestion</a></li>
				{{/gestion}}
				{{#noInvitado}}
				<li><a href="/logout">LogOut</a></li>
				{{/noInvitado}}
			</ul>
		</nav>
		<section>
			<h3>Situacion y planos</h3>
			<p>Dirección: Calle Tulipán s/n. 28933 - Móstoles - Madrid</p>
			<p>En tren: Estación: Móstoles - El Soto C-5. Renfe Cercanías</p>
			<p>En Metro: Estación: Universidad Rey Juan Carlos. L-12.</p>
			<p>En autobús: Autobuses L-522, 523, 525, 526 y 529H</p>
			<h3>Plano</h3>
			<p>Trabajando en el plano...</p>
		</section>
	</main>
</body>
</html>