<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/login.css">
<title>BiblioBooking</title>
</head>
<body>
	<main>
		<header>
			<h2>Bienvenido a BibilioBooking</h2>
		</header>
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
			  	<li><a href="/informacion">Informacion</a></li>
			  	<li><a href="/reservas">Mis reservas</a></li>
			  	<li><a href="/perfil">Mi perfil</a></li>
			  	<li><a href="/login">Login</a></li>
			  	<li><a href="/register">Registrarse</a></li>
			  	<li><a href="/admin">Panel Administrador</a></li>
			  	<li><a href="/gestion">Gestion</a></li>
			</ul>
		</nav>
		<section>
			<form action="/login" method="POST" class="loginForm">
			<div class="cont">
				<label for="uname"><b>Nombre de usuario</b></label>
				<input type="text" placeholder="" name="uname" required>
				<label for="psswd"><b>Contraseña</b></label>
				<input type="password" placeholder="" name="passwd" required>
				
				<button type="submit">Login</button>
				<br>
				{{#userNoOk}}
					<h4>Datos incorrectos, revise usuario y contraseña</h4>
				{{/userNoOk}}
			</div>
			</form>
		</section>
	</main>
</body>
</html>