<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="../css/tabla.css">
<title>BiblioBooking</title>
</head>
<body>
	<main>
		<header>
			<h2>Bienvenido a BibilioBooking</h2>
		</header>
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/informacion">Informacion</a></li>
				<li><a href="/reservas">Mis reservas</a></li>
				<li><a href="/perfil">Mi perfil</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Registrarse</a></li>
				<li><a href="/admin">Panel Administrador</a></li>
				<li><a href="/gestion">Gestion</a></li>
			</ul>
		</nav>
		<section>
			<a href="/reservas/nueva_reserva"><button>Nueva reserva</button></a>
			{{totalReservas}}
			{{#tablaReservas}}
			<table>
				<thead>
				<tr>
					<td>Sala</td>
					<td>Nombre</td>
					<td>Apellido</td>
					<td>Fecha</td>
					<td>Hora</td>
				</tr>
				</thead>
				<tbody>
				{{#reserva}}
				<tr>
					<td>{{sala.numeroSala}}</td>
					<td>{{fecha}}</td>
					<td>{{hora}}</td>
					<td><a href="/reservas/editar{{&idReserva}}"><button>Editar</button></a></td>
					<td><a href="/reservas/eliminar{{&idReserva}}"><button>Eliminar</button></a></td>
				</tr>
				{{/reserva}}
				</tbody>
			</table>
			{{/tablaReservas}}
		</section>
	</main>
</body>
</html>