<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="stylesheet" type="text/css" href="../css/tabla.css">
<title>BiblioBooking</title>
</head>
<body>
	<main>
		<header>
			<h2>Bienvenido a BibilioBooking</h2>
		</header>
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/informacion">Informacion</a></li>
				{{#alumno}}
				<li><a href="/reservas">Mis reservas</a></li>
				{{/alumno}}
				{{#usuario}}
				<li><a href="/perfil">Mi perfil</a></li>
				{{/usuario}}
				{{#invitado}}
				<li><a href="/login">Login</a></li>
				{{/invitado}}
				<li><a href="/register">Registrarse</a></li>
				{{#admin}}
				<li><a href="/admin">Panel Administrador</a></li>
				{{/admin}}
				{{#gestion}}
				<li><a href="/gestion">Gestion</a></li>
				{{/gestion}}
				{{#noInvitado}}
				<li><a href="/logout">LogOut</a></li>
				{{/noInvitado}}
			</ul>
		</nav>
		<section>
		<a href="/{{ruta}}/usuarios/nuevo_usuario"><button>Nuevo usuario</button></a>
		<a href="/{{ruta}}"><button>Atras</button></a>
			{{#isAdmin}}<p>Total Administradores: {{totalAdministradores}}</p>
			{{#tablaAdministradores}}
			<table>
				<thead>
					<tr>
						<td>Nombre</td>
						<td>Apellido</td>
						<td>Nombre de usuario</td>
						<td>Email</td>
					</tr>
				</thead>
				<tbody>
					{{#administrador}}
						<tr>
							<td>{{name}}</td>
							<td>{{lastname}}</td>
							<td>{{username}}</td>
							<td>{{email}}</td>
							<td><a href="/{{ruta}}/usuarios/editar_admin/{{&id}}"><button type="submit">Editar</button></a></td>
							<td><a href="/{{ruta}}/usuarios/eliminar_admin/{{&id}}"><button type="submit">Eliminar</button></a></td>
						</tr>
					{{/administrador}}
				</tbody>
			</table>
			{{/tablaAdministradores}}
			<hr>
			<p>Total Empleados: {{totalEmpleados}}</p>
			{{#tablaEmpleados}}
			<table>
				<thead>
					<tr>
						<td>Nombre</td>
						<td>Apellido</td>
						<td>Nombre de usuario</td>
						<td>Email</td>
					</tr>
				</thead>
				<tbody>
					{{#empleado}}
						<tr>
							<td>{{name}}</td>
							<td>{{lastname}}</td>
							<td>{{username}}</td>
							<td>{{email}}</td>
							<td><a href="/{{ruta}}/usuarios/editar_empleado/{{&id}}"><button>Editar</button></a></td>
							<td><a href="/{{ruta}}/usuarios/eliminar_empleado/{{&id}}"><button>Eliminar</button></a></td>
						</tr>
					{{/empleado}}
				</tbody>
			</table>
			<hr>
			{{/tablaEmpleados}}
			{{/isAdmin}}
			
		<p>Total Alumnos: {{totalAlumnos}}</p>
			{{#tablaAlumnos}}
			<table>
				<thead>
					<tr>
						<td>Nombre</td>
						<td>Apellido</td>
						<td>Nombre de user</td>
						<td>Email</td>
						<td>Bloqeado</td>
					</tr>
				</thead>
				<tbody>
					{{#alumno}}
						<tr>
							<td>{{name}}</td>
							<td>{{lastname}}</td>
							<td>{{username}}</td>
							<td>{{email}}</td>
							<td>{{blocked}}</td>
							<td><a href="/{{ruta}}/usuarios/editar_alumno/{{&id}}"><button>Editar</button></a></td>
							<td><a href="/{{ruta}}/usuarios/eliminar_alumno/{{&id}}"><button>Eliminar</button></a></td>
							<td><a href="/{{ruta}}/usuarios/bloquear_alumno/{{&id}}"><button>Bloquear</button></a></td>
							<td><a href="/{{ruta}}/usuarios/desbloquear_alumno/{{&id}}"><button>Desbloquear</button></a></td>
						</tr>
					{{/alumno}}
				</tbody>
			</table>
			{{/tablaAlumnos}}
		</section>
	</main>
</body>
</html>