@charset "UTF-8";
header {
	text-align: center;
}

nav {
	display:block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  	background-color: #4CAF50;
}

section {
	margin-top:10px;
}

.loginForm {
	text-align: center;
}

.loginForm input {
	width:25%;
	padding: 12px 20px;
	/*align-items: center;*/
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	box-sizing: border-box;
}
